body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Pathway Extreme", sans-serif;
  font-family: "Hind", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.Navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  background-color: white;
  box-shadow: 0px 0px 10px -1px gray;
  z-index: 2;
}
.Navbar nav {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translate(0%, -50%);
}
.Navbar nav .btn {
  text-decoration: none;
  margin: 5px;
  padding: 3px;
  font-size: 14px;
  color: black;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: bold !important;
  background: none;
  border: none;
}
.Navbar nav .btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.Navbar .menuIcon {
  display: none;
}
.Navbar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
}
.Navbar .selector {
  border: none;
  border: solid 1px gray;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  display: none;
}
.Navbar .selector select {
  border: none;
  padding: 4px 7px;
  background-color: white;
  outline: none;
}

.Slider {
  font-family: "Roboto", sans-serif;
  font-family: "Lilita One", sans-serif;
  padding-top: 65px;
  position: relative;
}
.Slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.Slider button {
  background: none;
  color: inherit;
  border: none;
  font-size: 60px;
  color: rgba(240, 240, 240, 0.7);
}
.Slider button:hover {
  cursor: pointer;
}
.Slider .banerText {
  position: absolute;
  left: 7%;
  top: 33%;
  font-size: 65px;
  text-align: left;
  line-height: 5rem;
  color: rgba(20, 20, 20, 0.9);
  font-weight: bold;
}
.Slider .banerText h1 {
  font-size: 100%;
  /* or 1em or 16px or whichever size you prefer */
  letter-spacing: 0.3px;
  font-weight: normal;
  font-weight: bold;
  color: inherit;
  /* Use if you want the h1 tag to inherit the color of its parent */
  background: none;
  border: none;
  width: 50%;
}
.Slider #prev {
  position: absolute;
  top: 50%;
  left: 50px;
}
.Slider #next {
  position: absolute;
  top: 50%;
  right: 50px;
}

.Description {
  padding: 65px 15% 50px 15%;
}
.Description .head {
  margin-bottom: 15px;
}
.Description .btn {
  margin-top: 30px;
  padding: 11px 22px;
  border-radius: 25px;
  border: 3px orange solid;
  background-color: transparent;
  color: orange;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Description .btn:hover {
  cursor: pointer;
}
.Description .showContainer {
  background-color: rgba(255, 165, 0, 0.1);
  padding: 50px;
  font-size: 24px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8);
}

.Raws .raw {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: minmax(200px, 450px);
  padding-top: 85px;
}
.Raws .raw .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Raws .raw .text_box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  line-height: 1.4;
}
.Raws .raw .text_box .title {
  margin-bottom: 15px;
}

.Logistic {
  margin-top: 100px;
  padding-top: 50px;
  background-color: rgb(240, 240, 240);
}
.Logistic .head {
  font-weight: bold;
  margin-bottom: 50px;
}
.Logistic .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}
.Logistic .grid .text {
  padding: 60px;
}
.Logistic .grid .image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 80%;
}
.Logistic .grid .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16%;
  box-shadow: inset 0px 0px 15px 25px rgb(240, 240, 240);
}
.Logistic .grid .image img {
  width: 100%;
  border-radius: 18%;
}

.Home .head,
.Home .title {
  color: orange;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 35px;
}
.Home .text {
  font-size: 22px;
  letter-spacing: 0.1px;
  line-height: 28px;
  word-spacing: 1px;
}

.Product {
  margin: 100px 100px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: minmax(200px, 450px);
  padding-top: 85px;
}
.Product .image {
  margin: 50px;
}
.Product .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background-color: rgba(60, 179, 113, 0.9);
  color: white;
}
.Footer .adress {
  color: black;
  font-size: 18px;
  line-height: 1.3;
}
.Footer .adress .contact {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 24px;
}
.Footer .adress .name {
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

@media only screen and (max-width: 1300px) {
  .Description {
    padding: 50px 200px;
    margin-bottom: 50px;
  }
  .Slider .banerText {
    font-size: 5vw;
    line-height: 7vw;
  }
}
@media only screen and (max-width: 1100px) {
  .Navbar img {
    left: 70%;
  }
  .Description {
    padding: 50px 200px;
    margin-bottom: 50px;
  }
  .Logistic .grid {
    grid-template-columns: 1fr;
  }
  .Logistic .grid .text {
    font-size: 22px;
    padding: 40px 60px;
  }
}
@media only screen and (max-width: 900px) {
  .Navbar nav .btn {
    font-size: 15px;
  }
  .Navbar img {
    width: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .Navbar nav {
    display: none;
  }
  .Navbar .menuIcon {
    display: block;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0%, -50%);
    clear: all;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .Navbar .menuIcon:hover {
    cursor: pointer;
  }
  .Navbar .menuIcon img {
    width: 30px;
    padding: 0;
  }
  .Navbar .MobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    animation: mobile 0.5s 1;
  }
  @keyframes mobile {
    from {
      left: -400px;
    }
    to {
      left: 0;
    }
  }
  .Navbar .MobileMenu button {
    border: none;
    background: none;
  }
  .Navbar .MobileMenu .close_menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 35px;
  }
  .Navbar .MobileMenu .close_menu:hover {
    cursor: pointer;
  }
  .Navbar .MobileMenu .close_menu img {
    width: 45px;
  }
  .Navbar .MobileMenu .tab {
    padding-top: 100px;
    background-color: black;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .Navbar .MobileMenu .tab .link {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 15px 65px;
    background: none;
    font-weight: bold;
  }
  .Navbar img {
    left: 50%;
  }
  .Slider img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
  .Slider .banerText {
    top: 35%;
    font-size: 24px;
    line-height: 35px;
  }
  .Slider .banerText div {
    width: 40%;
    left: 30px;
    top: 40%;
  }
  .Home .Description {
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .Home .Description .head {
    line-height: 1.2;
  }
  .Home .Description .text {
    font-size: 22px;
  }
  .Home .Description .showContainer {
    padding: 20px;
    font-size: 18px;
  }
  .Product {
    margin: 100px 10px;
    padding-top: 85px;
    grid-template-columns: 1fr;
  }
  .Raws .raw {
    grid-template-columns: 100%;
  }
  .Raws .raw .item:nth-child(4) {
    grid-row: 3/4;
  }
  .Raws .raw .item:nth-child(8) {
    grid-row: 7/8;
  }
  .Raws .raw .text_box {
    padding: 30px;
    font-size: 17px;
    line-height: 1.7;
  }
  .Raws .raw .text_box .title {
    font-size: 35px;
  }
}