body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.Navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 10px -1px gray;
    z-index: 2;

    nav {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translate(0%, -50%);

        .btn {
            text-decoration: none;
            margin: 5px;
            padding: 5px;
            font-size: 17px;
            color: black;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            font-weight: bold !important;
            background: none;
            border: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }


    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }

    .menuIcon {
        display: none;
    }
}

.Slider {
    // font-family: 'Carlito', sans-serif;
    // font-family: 'Roboto', sans-serif;
    padding-top: 85px;
    position: relative;
    // outline: auto;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    button {
        background: none;
        color: inherit;
        border: none;
        font-size: 60px;
        color: rgba(240, 240, 240, 0.7);

        &:hover {
            cursor: pointer;
        }

    }

    .text {
        font-family: 'Viga', sans-serif;
        font-size: 45px;
        text-align: left;
        line-height: 64px;
        color: rgba(20, 20, 20, 0.85);
        font-weight: bold;

        div {
            width: 50%;
            position: absolute;
            left: 175px;
            top: 40%;
        }


    }

    #prev {
        position: absolute;
        top: 50%;
        left: 50px;
    }

    #next {
        position: absolute;
        top: 50%;
        right: 50px;
    }
}

.Description {
    padding: 65px 300px 50px 300px;

    .head {
        font-size: 40px;
        color: orange;
        margin-bottom: 15px;
    }

    .text {
        font-size: 24px;
        line-height: 1.4;
    }

    .btn {
        margin-top: 30px;
        padding: 11px 22px;
        border-radius: 25px;
        border: 3px orange solid;
        background-color: transparent;
        color: orange;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        font-weight: bold;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .showContainer {
        background-color: rgba(255, 165, 0, 0.1);
        padding: 50px;
        font-size: 24px;
        line-height: 1.4;
        color: rgba(0, 0, 0, 0.8);
    }
}

.Raws {
    .raw {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: minmax(200px, 450px);
        padding-top: 85px;


        .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .text_box {
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 24px;
            line-height: 1.4;

            .title {
                font-size: 40px;
                color: orange;
                margin-bottom: 15px;
                line-height: 1.2;

            }
        }
    }
}

.Product {
    margin: 100px 100px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(200px, 450px);
    padding-top: 85px;

    .image {
        margin: 50px;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.Logistic {
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgba(240, 240, 240);
    // height: 500px;

    .head {
        color: orange;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 50px;

        .image {
            position: relative;
            margin: 0 auto;
            display: inline-block;
            width: 80%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 16%;
                box-shadow: inset 0px 0px 15px 25px rgb(240, 240, 240);
            }

            img {
                width: 100%;
                border-radius: 18%;
            }
        }

        .text {
            font-size: 24px;
            line-height: 1.4;
            padding: 40px 90px;
            color: rgb(40, 40, 40);

        }
    }


}


.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin-top: 100px;
    height: 400px;
    background-color: rgba(60, 179, 113, 0.9);
    color: white;

    .adress {
        color: black;
        font-size: 18px;
        line-height: 1.3;


        .contact {
            text-transform: uppercase;
            // margin: 10px;
            margin-bottom: 25px;
            font-size: 24px;
            // letter-spacing: 0.5px;
        }

        .name {
            font-size: 30px;
            font-weight: bold;
            margin: 5px;
        }
    }
}

@import 'mobile';